KASPA_EXPLORER_API_URI="http://devnet.igralabs.com:8000"
KASPA_EXPLORER_WS_URI="ws://devnet.igralabs.com:8001"
KASPAD_HOST=kaspad
# KASPAD_HOST=host.docker.internal
KASPAD_BORSH_PORT=17610
DOCKER_SOCKET=/var/run/docker.sock

LOG_LEVEL=debug
RUST_LOG=debug